<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lembrar senha</h1>
    <form method='post' action='/forgot' >
    <p>Digite o email de cadastro para receber novas credenciais de acesso:</p>
    <input name= "email" type= "text" />
    <input type='submit' value='Send' />
    </form>
      <p>
        Caso não possua cadastro <a href='/signup'>Clique aqui</a>
      </p>
  </body>
</html>
