<!DOCTYPE html>
<html>
    <body>
        <h1>Cadastro de Usuário</h1>
        <form method="post" action="/signup">
            Username: <input name="username" type="text" /><br />
            Password: <input name="password" type="password" /><br />
            E-mail: <input name="email" type="text" /><br />
            Perfil: <select name='profile'>
                <option value="1">Usuário</option>
                <option value="2">Administrador</option>
            </select><br />
            <input type="submit" value="Salvar" />
        </form>
        <% if(message) { %>
            <p>>
                <label style="color:red">
                    <%= message %>
                </label>
            </p>
        <% } %>
    </body>
</html>