<!DOCTYPE html>
<html>
  <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <title><%= title %></title>
        <p>Participante 1</p>
        <form method="post" action="/participante1">
        <input type="submit" value="Votar" />

        <p>Participante 2</p>
        <form method="post" action="/participante2">
        <input type="submit" value="Votar" />

        <p>Participante 3</p>
        <form method="post" action="/participante3">
        <input type="submit" value="Votar" />
    </body>
</html>