<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Você está autenticado</p>
    <form method='post' action='./logout' >
        <input type='submit' value='Sair' />
    </form>
    <p>
      <!-- esse if é para mostrar determinada pagina apenas para admins-->
      <% if(profile === '2') { %>
        <a href='/admin'> Venha para a página admin meu caro amigo</a>
        <% } %> 
    </p>
  </body>
</html>
