<!DOCTYPE html>
<html>
    <body>
        <h1>Login</h1>
        <form method="post" action="/login">
            <input name="username" type="text" /><br />
            <input name="password" type="password" /><br />
            <input type="submit" value="Login" />
        </form>
        <% if(message) { %>
            <p>
                <label style="color:red">
                    <%= message %>
                </label>
            </p>
        <% } %>
        <p>
            <a href="/forgot">Esqueceu sua senha?</a> | <a href="/signup">Não possui cadastro?</a>
        </p>
    </body>
</html>