<!DOCTYPE html>
<html>
  <head>
    <title>Erro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title%></h1>
    <p>Você não tem acesso a essa página</p>
    <p>Logue-se para continuar</p>
    <a href="/login">Login</a>
  </body>
</html>
