<h1>
    <p> Lista de Usuários </p>
      <% users.forEach((user) => { %>
          <p><%=  user.username %> </p>
          <p><%=  user.email %> </p>
          <p><%=  user.profile %> </p>
      <% }) %> 
      <p></p>
</h1>