<!DOCTYPE html>
<html>
  <head>
        <title>BIG BROTHER BRASIL</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <title>BIG BROTHER BRASIL</title>
        <p> Você votou</p>
        <a href='/votacao'>Votar novamente</a>
    </body>
</html>